.module-audition-noresult {
  background: url(../images/noresult.png) center 80px no-repeat;
  background-size: 165px;
  min-height: 300px;
  padding-bottom: 20px;
}
.module-audition-noresult .refresh {
  border: solid 1px #9eacbd;
  font-size: 18px;
  text-align: center;
  line-height: 44px;
  width: 125px;
  color: #9eacbd;
  margin: 0 auto;
  transform: translate(10px, 220px);
  -webkit-transform: translate(10px, 220px);
  border-radius: 4px;
}
