.main {
  width: 300px;
  height: 300px;
  background: yellowgreen;
  margin: 0 auto;
  position: relative;
}
.main #box {
  width: 150px;
  height: 150px;
  background: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -75px;
}
.main #box h3 {
  color: red;
  font-size: 24px;
  width: 150px;
  height: 24px;
  overflow: hidden;
  line-height: 24px;
  background: #23ffff;
}
