<?php

use Synacast\HttpFoundation\JsonResponse;
use Synacast\HttpFoundation\Request;

// header('Content-Type: text/html; charset=utf-8');

// Core
if (!class_exists('Synacast\HttpFoundation\Request')) {
    $ctx->renderSegment('9eb9e628ba985447a5b676d11edfba6c');
}

$request = Request::createFromGlobals();

$scope = $request->query->get('scope');
$stage = $request->query->get('stage');

$queryString = http_build_query(array(
    'stage' => $stage,
    'scope' => $scope,
));

$now = new DateTime();

$ch = curl_init();
$options = array(
    CURLOPT_URL => "http://api.chang.pptv.com/api/sprint_players?" . $queryString,
    CURLOPT_RETURNTRANSFER => true,
    CURLOPT_TIMEOUT => 3,
);

curl_setopt_array($ch, $options);
$response = curl_exec($ch);
$httpCode = curl_getinfo($ch, CURLINFO_HTTP_CODE);
$curlInfo = curl_getinfo($ch);

if ($httpCode != 200) {
    $errorInfo = "Return code is {$httpCode}" . curl_error($ch);
    printf("<script>console.log('%s');</script>", $errorInfo);

} else {

    if ($request->isXmlHttpRequest()) {
        $jsonResponse = new JsonResponse();

        $jsonResponse->setData(json_decode($response));
        $jsonResponse->setCallback($request->query->get('cb'));
        // $jsonResponse->setStatusCode(Response::HTTP_NOT_FOUND);
        $jsonResponse->setPublic();

        $ttl = 60;
        $date = new DateTime();

        $date->modify("+$ttl seconds");
        $jsonResponse->setExpires($date);
        $jsonResponse->setMaxAge($ttl);
        $jsonResponse->send();
        exit;
    }
}

?>
<style type="text/css">
    .js-gold-3 {
        background: url("http://static9.pplive.cn/chang/v_20151206101517/images/bg_cen2.png") no-repeat !important;
        background-size: cover !important;
    }
    .module-last3 {
        background: none !important;
    }
    .last3-main {
        background: none !important;
    }
    .vtlist-cont, .module-tbtitle {
        background: none !important;
    }
    .module-vtlist li {
        float: none !important;
        display: inline-block !important;
        width: auto !important;
        margin: 10px 80px 0 !important;
        margin-top: 5px;
    }
    .module-vtlist {
        padding: 0 !important;
        text-align: center !important;
        background: none !important;
    }
    .ipad.module-only3 .content .renqi-item {
        height: 110px !important;
        margin-top: 5px !important;
    }
</style>
<div class="grid js-gold-3" id="gold-3">
</div>
<script type="text/template" id="template">
<%
    if (stage === 0) {
%>
    <div class="module module-last3 ipad">
        <div class="last3-main">
        <%
            for (var i = 0; i < playerInfo.length; i++) {
        %>
            <div class="last3-item" username="<%= playerInfo[i].username %>">
                <img applink="<%= playerInfo[i].trailer.app_link %>" link="<%= playerInfo[i].trailer.link %>" src="<%= playerInfo[i].trailer.cover %>">
                <p><%= playerInfo[i].group_name || playerInfo[i].real_name %></p>
                <div class="head" username="<%= playerInfo[i].username %>">
                    <img src="<%= playerInfo[i].avatar %>">
                </div>
            </div>
        <%
            }
        %>
        </div>
    </div>
<%
    }
	if (stage === 1) {
%>
    <div class="module module-vtlist module-gold10 ipad" applink="<%= playerInfo[0].app_link%>" link="<%= playerInfo[0].link %>">
        <div class="module-tbtitle">
            <div class="tbtitle_a">LIVE</div>
            <div class="tbtitle_b">正在直播</div>
        </div>
        <div class="vtlist-cont">
            <ul>
            <%
                for (var i = 0; i < playerInfo.length; i++) {
            %>
                <li>
                    <span class="bdr" username="<%= playerInfo[i].username %>">
                        <img src="<%= playerInfo[i].avatar %>"/>
                    </span>
                    <p class="name"><%= playerInfo[i].group_name || playerInfo[i].real_name %></p>
                </li>
            <%
                }
            %>
            </ul>
        </div>
    </div>
<%
    }
    if (stage === 2) {
%>
    <div class="module module-vacant gold-last ipad">
        <div class="vacant-list">
        <%
            for (var i = 0; i < playerInfo.length; i++) {
        %>
            <div username="<%= playerInfo[i].username %>" class="vacant-item <%= playerInfo[i].classIndex %>">
                <div class="vacant-item-bg"></div>
                <div class="vacant-avatar">
                    <img src="<%= playerInfo[i].avatar %>" />
                </div>
                <div class="vacant-item-name"><%= playerInfo[i].group_name || playerInfo[i].real_name %></div>
            </div>
       	<%
            }
        %>
        </div>
    </div>
<%
    }
%>
</script>