*{margin: 0;padding: 0;}
.lgin{
   width: 278px;
    border: solid 2px #186b07;
    margin: 20px auto;
}
.lgin h2{
    background:url("images/legend_bg.gif") repeat-x;
    line-height: 40px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    padding-left: 10px;
}
.data{
    line-height: 32px;
    padding-top: 10px;
    padding-left: 15px;
}
.data input{
    height: 28px;

}
#name,#pwd{
    width: 160px;
}
#code{
    width: 70px;
}
.data img{
    vertical-align: top;
    margin-left: 3px;
}
.sav{

    color: #666666;
    padding-left: 78px;
    font-size: 12px;
    padding-top: 10px;
}
#save{
    vertical-align: middle;

}
.sbm{padding-left: 50px;}
.btn{
    background: url("images/btn.gif") no-repeat;
    width: 83px;
    height: 32px;
    font-weight: bold;
    border: 0;
    margin: 10px 5px;
    color: white;
}