a {    text-decoration: none; color: #000;}
a:hover {    text-decoration: underline; }
legend {    color: #000;}
fieldset,img {    border: 0;}
label,button {    cursor: pointer;}
/*解决IE图片缩放失真*/
img {    -ms-interpolation-mode: bicubic;    display: block;}
/*清除浮动*/
.clearfix:after {content: '';display: block;height: 0;clear: both;}
.clearfix {zoom: 1;}
.clear {clear: both;}
/*连续英文、数字换行*/
.wordwrap {word-break: break-all;word-wrap: break-word;}
/*单行文字超出显示省略号*/
.omg {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
/*文本框不可拖动大小*/
textarea {border: 1px solid #999;border-radius: 20px;padding: 1px;resize: none;}


.wp-grid{    width: 100%;background: url("../assets/body-bg.png") repeat-x;background-size: contain;-o-background-size: contain;-moz-background-size: contain;-webkit-background-size: contain;}
.grid{width: 990px; padding-bottom:100px;margin: 0 auto; position: relative;}
.main {}
.main .main-top{
    width: 960px;
    height: 75px;
    margin: 0 auto;
}
.main .main-top .logo{
    display: inline-block;
    width: 140px;
    height: 36px;
    margin-top: 25px;
    background: url("../assets/logo.png") no-repeat left;
    text-indent: -9999px;
    margin-left: 120px;
}
.main .m-r{
    display: inline-block;
    width: 90px;
    height: 108px;
    background: url("../assets/monster1.png") no-repeat;
    position: absolute;
    bottom: 120px;
    right: -55px;
    z-index: 5;
}
.main-btm{
    width: 960px;
    margin:0 auto;
    background: url("../assets/bg1.png") repeat-y;
    background-size: contain;
    position: relative;
    overflow: hidden;
    z-index: 10;
}
.main .pp-t{
    width: 120px;
    height:108px;
    position: absolute;
    top: -11px;
    left: 0;
    z-index: 10;
    background: url("../assets/icon1.png") no-repeat;
}
.main .pp-r{
    display: inline-block;
    width: 52px;
    height: 28px;
    background: url("../assets/02.png") no-repeat;
    position: absolute;
    bottom: 135px;
    right: -10px;
    z-index: 11;
}

.main-btm .btm-l{
    width: 95px;
    background:#82bff3 ;
    position: relative;
    margin-left:15px;
    float: left;
}
.main-btm .btm-l .bgl,
.main-btm .btm-r .bgr{
    display: inline-block;
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
}
.main-btm .btm-l .bgl{
    left: -5px;
    background:url("../assets/main-l-bd.png") repeat-y left ;
}
.main-btm .btm-r .bgr{
    right: -5px;
    background:url("../assets/main-r-bd.png") repeat-y right ;
}

.main-btm .btm-l .left-tab li{
    width: 95px;
    position: relative;
}
.main-btm .btm-l .left-tab li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.main-btm .btm-l .left-tab li a span{
    display: inline-block;
    width: 85px;
    height: 24px;
    margin: 5px auto;
    padding: 0 5px;
    overflow: hidden;
    line-height:24px;
    font-size: 14px;
    color: #fff;
}
.main-btm .btm-l .left-tab li a .touxiang {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background: url("../assets/bg2.png") no-repeat center;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
}
.main-btm .btm-l .left-tab li .ico{
    display: inline-block;
    width: 41px;
    height: 32px;
    margin: 10px auto 0;
}
.main-btm .btm-l .left-tab li .tougao{
    background: url("../assets/03.png") no-repeat center;
}
.main-btm .btm-l .left-tab li .guanli{
    background: url("../assets/04.png") no-repeat center;
}
.main-btm .btm-l .left-tab li.cur{
    background: #92d3ff;
}
.main-btm .btm-l .left-tab li.cur .left-bg{
    display: inline-block;
    width: 10px;
    height: 100%;
    background: url("../assets/05.png") repeat-y;
    position: absolute;
    left: -5px;
    top: 0;
}
.main-btm .btm-r{
    width: 829px;
    height: 100%;
    background: #fff;
    float: left;
    position: relative;
}
.main-btm .btm-r .bgr{
    right: -5px;
    background:url("../assets/main-r-bd.png") repeat-y right ;
}
.main-btm .btm-r .tgw{}
.main-btm .btm-r .tgw-top{width: 100%;overflow: hidden;padding-top: 50px;}
.main-btm .btm-r .tgw-top img{display: block;margin:0 auto ;}
.main-btm .btm-r .tgw-tit{width: 100%;height: 45px;line-height:45px;font-size: 14px;color: #82bff3;text-align: center;}
.main-btm .btm-r .to-contribute-btn{display: inline-block;width: 205px;height: 65px; margin-bottom: 70px;background: url("../assets/to-contribute-btn.png") no-repeat center;text-indent: -9999px;border: none;outline: none;margin-top: 15px;}
.succes-top .vid-info-tit{
    overflow: hidden;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    line-height:30px;font-size: 14px;
    color: #333;
}
.main-btm .btm-r .check-dr,
.main-btm .btm-r .again{
    display: inline-block;
    width: 200px;
    height: 42px;

}


/*upload 上传页*/