input{outline:none;}
.wp-grid{    width: 100%;min-width: 990px; background: url("../assets/body-bg.png") repeat-x;background-size: contain;-o-background-size: contain;-moz-background-size: contain;-webkit-background-size: contain;}
.grid{width: 990px; padding-bottom:100px;margin: 0 auto; position: relative;}
.main .main-top{  width: 960px;  height: 95px;  margin: 0 auto;}
.main .main-top .logo{  display: inline-block;  width: 140px;  height: 36px;  margin-top: 35px;  background: url("../assets/logo.png") no-repeat left;  text-indent: -9999px;  margin-left: 120px;}
.main .m-r{  display: inline-block;  width: 90px;  height: 108px;  background: url("../assets/monster1.png") no-repeat;  position: absolute;  bottom: 120px;  right: -55px;  z-index: 5;}
.shadow{  width: 950px;  margin: 0 auto;  background: #5c82bf;  box-shadow: 0 0 10px 2px #5c82bf;}
.main-info{  width: 960px;  margin:0 auto;  background: url("../assets/bg1.png") repeat-y;  background-size: contain;  position: relative;  overflow: hidden;  left: -5px;  z-index: 10;}
.main .pp-t{  width: 120px;  height:108px;  position: absolute;  top: 10px;  left: 0;  z-index: 10;  background: url("../assets/icon1.png") no-repeat;}
.main .pp-r{  display: inline-block;  width: 52px;  height: 28px;  background: url("../assets/02.png") no-repeat;  position: absolute;  bottom: 135px;  right: -10px;  z-index: 11;}
.main-info .info-l{  width: 95px;background:#82bff3 url("../assets/bg5.png") repeat-y;margin-left:5px;float: left;min-height: 500px;}
.main-info .info-l .bgl,
/*.main-info .info-r .tgw .tgw-top img*/
.main-info .info-l .left-tab li{ width: 95px; position: relative;}
.main-info .info-l .left-tab li a{ display: block; width: 100%; height: 100%; text-align: center;}
.main-info .info-l .left-tab li a span{display: inline-block;width: 85px;height: 24px;margin: 5px auto;padding: 0 5px;overflow: hidden;line-height:24px;font-size: 14px;color: #fff;}
.main-info .info-l .left-tab li a .touxiang {width: 64px;height: 64px;border-radius: 32px;-webkit-border-radius: 32px;-moz-border-radius: 32px;margin: 10px auto;}
.main-info .info-l .left-tab li .ico{display: inline-block;width: 41px;height: 32px;margin: 10px auto 0;}
.main-info .info-l .left-tab li .tougao{ background: url("../assets/03.png") no-repeat center;}
.main-info .info-l .left-tab li .guanli{background: url("../assets/04.png") no-repeat center;}
.main-info .info-l .left-tab li.cur{ background: #92d3ff;}
/*退出登录*/
.main-info .info-l .tuichu{width: 95px; position: absolute; bottom: 20px;left:5px;}
.main-info .info-l .tuichu.cur{ background: #92d3ff;}
.main-info .info-l .tuichu a{display: block; width: 100%; height: 100%; text-align: center;}
.main-info .info-l .tuichu a .tuichu-ico{display: inline-block;width: 32px;height: 30px;margin: 10px auto 0;background: url("../assets/06.png") no-repeat;background-size: 100% 100%;-webkit-background-size: 100% 100%;-moz-background-size: 100% 100%;-o-background-size: 100% 100%;}
.main-info .info-l .tuichu a span{display: inline-block;width: 85px;height: 24px;margin: 5px auto;padding: 0 5px;overflow: hidden;line-height:24px;font-size: 14px;color: #fff;}


.main-info .info-r{width: 810px;height: 100%;background: #fff;padding-left: 20px;float: left;position: relative;}

.main-info .info-r .tgw{ margin: 20px 0 100px 0 ;}
.main-info .info-r .tgw .tgw-top{width: 100%;overflow: hidden;padding-top: 50px;}
.main-info .info-r .tgw .tgw-top img{display: block;margin:50px auto 0;}
.main-info .info-r .tgw .tgw-tit{width: 100%;height: 45px;line-height:45px;font-size: 14px;color: #82bff3;text-align: center;margin: 10px 0;}
/*.main-info .info-r .tgw .to-contribute-btn{display: inline-block;width: 205px;height: 65px; margin-bottom: 70px;background: url("../assets/to-contribute-btn.png") no-repeat center;text-indent: -9999px;border: none;outline: none;margin-top: 15px;}*/
/* 上传成功*/
.main-info .info-r .succes  .succes-top .vid-info-tit{  overflow: hidden;  height: 30px;  margin: 0 auto;  text-align: center;  line-height:30px;font-size: 14px;  color: #333;width: 600px;}
.main-info .info-r .succes .common_td{  overflow: hidden; width: 100%; height: 50px;text-align: center;}
.info-r .common_btn{width: 200px;height: 42px;background: #d2d2d2;color: #fff;display: inline-block;line-height: 42px;font-size: 16px;padding: 0 30px;border: 0;cursor: pointer;margin-right:10px;}
.main-info .info-r .succes .common_td .common_btn{width: 200px;height: 42px;background: #83bff4;}
.main-info .info-r .succes .common_td .common_btn:hover{background: #4ea4f1;}
.main-info .info-r .succes .common_td .common_btn:active{background: #5698d2;}

/*上传视频按钮*/
.main-info .info-r .tgw-tougao{ position: relative; width: 200px;height: 65px; margin: 0 auto;}
.main-info .info-r .tgw-tougao .tgw-upload{display: inline-block;width: 205px;height: 61px;border-bottom:4px solid #b6dfff;line-height: 61px;font-size: 20px;color: #fff;text-align: center;background: #83bff4;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;margin: 0 auto;padding-left: 41px;cursor: pointer;}
.main-info .info-r .tgw-upload:hover{background: #4ea4f1;}
.main-info .info-r .tgw-upload:active{background: #5698d2;height: 61px;border-bottom:4px solid #5698d2;}
.main-info .info-r .tgw-tougao i{ display: inline-block;position: absolute;top: 50%;margin-top:-16px;left: 35px;width: 41px;height: 32px;background: url("../assets/03.png") no-repeat;}
.main-info .info-r .upload-mod{  width: 100%;height: 200px;background: #f0f0f0;overflow: hidden; position: relative;}
.main-info .info-r .upload-mod .mod-dec{  width: 300px;height: 30px;line-height: 30px;color: #333;font-size: 16px;text-align: center;
    margin: 0 auto;}
.main-info .info-r .upload-mod .upfile-in{display: inline-block;width: 100%;height: 100%;position: absolute;top: 0;left: 0;opacity: 0;filter:alpha(opacity=0);cursor: pointer;}
.vod-explain{ width: 100%; min-height: 200px;padding-top: 20px;}
.main-info .info-r .upload-mod .tgw-tougao{ position: relative; width: 200px;height: 65px; margin: 65px auto 0;}
/*帐号上传被禁用*/
.err{height: 30px;background: #ff7e8c;line-height: 30px;font-size: 14px;text-align: center;color: #fff;word-spacing: 2px;overflow: hidden;margin: 0 auto;}
.err em{ display: inline-block;width: 60px;height: 25px;line-height: 25px;background: #fff;color: #ff7e8c;margin-top: 2px;border-radius: 15px;-webkit-border-radius: 15px;-moz-border-radius: 15px;margin-left: 10px;}

.vod-explain p{width: 400px; line-height: 30px;font-size: 14px;color: #898989;margin-left: 235px;text-align: left;padding-left: 30px;position: relative}
.vod-explain p .num{display: inline-block;width: 25px;height: 30px;line-height: 30px;font-style: normal;position: absolute;
    top: 0;left: 0;text-align: left;font-size: 14px;font-weight: 600;color: #999;}
.info-con .hd{ height: 48px; border-bottom:2px solid #f0f0f0;}
.info-con .hd .hd-top-tab{display: inline-block;width:170px;height: 50px;font-size: 16px;overflow: hidden;text-align: center;line-height: 46px;color: #999;  float: left;}
.info-con .hd .hd-top-tab.current{border-bottom:4px solid #84bef3;color: #84bef3;height: 46px;}
.check-cond{color: #ff7e8c; display: inline-block;float: left;height: 50px;line-height: 50px;font-size: 14px;}

.info-con .hd .hd-top-tab a{  display: block;  width: 100%;  height: 100%;}
.info-con .bd{ margin: 20px 0 50px 0;}
.info-con .bd .common_tr{ padding: 15px 0;    line-height: 26px;    color: #3b3b3b;z-index: 50;}
.info-con .bd .common_th {text-align: right;width: 80px;padding-right: 10px;min-height: 1px;_height: 1px;font-size: 12px;color: #333;}
.info-con .bd .common_th,
.info-con .bd .common_td { float: left;}

.info-con .bd .common_td .common_text {background-color: #fff;border: 1px solid #c1c1c1;width: 240px;height: 30px;line-height: 30px;padding: 0 10px;font-size: 14px;color: #3b3b3b;border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;}
.appeal .bd .comm-shensu .common_td .common_textarea{width: 490px;height: 130px;padding: 5px 10px;}
/*上传图片按钮*/
.info-con .bd  .comm-img .elect{    position: relative;}

.info-con .bd  .comm-img .select-file{ width: 200px;height: 40px;background-color: #83bff4;text-align: center;line-height: 40px;font-size: 16px;color: #fff;
cursor: pointer;}
.info-con .bd  .comm-img .select-file:hover{background: #479de9;}
.info-con .bd  .comm-img .select-file:hover{background: #5698d2;}
.info-con .bd  .comm-img  .perview{width: 56px;height: 56px; margin-right: 15px;position: relative}
.info-con .bd  .comm-img  .perview img{width: 56px;height: 56px; }
.info-con .bd .comm-img .perview .del{width: 20px;height: 20px;position: absolute;
    top: -10px;right:-10px;background: url("../assets/delete.png") no-repeat;}
.info-con .bd  .comm-img .select-filein{width: 56px;height: 56px;background: url("../assets/add.png") no-repeat 0 0;text-indent: -9999px; cursor: pointer;  z-index: 11;position: relative;}
.info-con .bd .comm-img .common_td .select-filein:hover,
.info-con .bd .comm-img .common_td .select-filein:active{   background: url("../assets/add.png") no-repeat 0 -56px;}
.info-con .bd .comm-img .common_td .elect .common_file{outline: medium none;position: absolute;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;left:0;top: 0;cursor: pointer; z-index: 5;}
.info-con .bd .comm-img .common_td .select-file .common_file{width: 200px; height: 40px;font-size: 30px;}
.info-con .bd .comm-img .common_td .select-filein .common_file{  width: 56px;height: 56px; }
.info-con .bd .comm-img .common_td span{display:inline-block;width: 220px;height: 24px;line-height: 24px;margin-top: 10px;font-size: 12px;color: #a0a0a0;}

/*联系方式*/
.info-con .bd .comm-contact{ overflow: hidden;}
.info-con .bd .comm-contact .comm-info{ width: 270px; float: left;}
.info-con .bd .comm-contact .comm-info .common_td{height: 30px;line-height: 30px;margin-bottom:20px;position: relative;}
.info-con .bd .comm-contact .comm-info .common_td .tit-ms{    position: absolute;top: 2px;left: 2px;width: 49px;height: 28px;background: #fff;text-align: center;font-size: 12px;color: #acacac;}
.info-con .bd .comm-contact .comm-info .common_td .remind{width: 200px;position: absolute;right: -235px;top: 0;color: red;text-align: left;padding-left: 25px;display: none;font-size: 12px;}
.info-con .bd .comm-contact .comm-info .common_td .remind i{display: inline-block;width: 20px;height: 20px;background: url("../assets/warn.png") no-repeat;background-size: contain; position: absolute; left: 0;top: 5px;}
.info-con .bd .comm-contact .comm-info .mistake{ color: #e9566c;}
.info-con .bd .mistake .common_text{border: 1px solid #e9566c;color: #e9566c;}
.info-con .bd .comm-contact .comm-info .mistake .tit-ms{color: #e9566c;}
.info-con .bd .comm-contact .comm-info .mistake .remind{ display: block;}
.info-con .bd .comm-contact .comm-info .common_td .common_text{ width: 210px; padding-left:50px;}

/*提交申诉 保存/取消 */
.info-con .bd .save .common_td .common_btn.save_btn{ background: #83bff4;}
.info-con .bd .save .common_td .common_btn.save_btn:hover{ background-color: #479de9;}
.info-con .bd .save .common_td .common_btn.undo_btn:hover{ background-color: #a0a0a0;}

/*视频上传 信息页*/
.send-file{}
.send-file .upload-file{ background: #dcefff; padding: 10px 65px;}
.send-file .upload-file .Forward{}
.send-file .upload-file .Forward .list-li{ height: 60px;width: 620px;position: relative;}
.send-file .upload-file .Forward .list-li .jindu{ border: 1px solid #87c0f3;border-radius: 11px;-webkit-border-radius: 11px;-moz-border-radius: 11px; padding: 2px;height: 10px;margin: 0 auto; position: absolute;top: 21px;left: 0; width: 614px;}
.send-file .upload-file .Forward .list-li .jindu .Jd-d{ width: 30%;height: 10px;background: #87c0f3;border-radius:5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;float: left;}
/*进度条百分比*/
.send-file .upload-file .Forward .list-li .percentage{ width: 40px;height: 20px;background: url("../assets/percentage.png") no-repeat;text-align: center;line-height: 18px;
    background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;-o-background-size: 100% 100%; font-size: 12px; position: absolute; top: 0px; left: 26%;color: #f1f1f1;}
.send-file .upload-file .Forward .list-li .vdo-title{ display: inline-block;max-width: 600px;height: 22px;line-height: 22px;font-size: 12px;overflow: hidden;
    position: absolute;top: 38px; left: 10px;}
.send-file .upload-file .Forward .list-li .Can-icon{ position: absolute;top: 20px;right: -55px;}
.send-file .upload-file .Forward .list-li .Can-icon .on-off,
.send-file .upload-file .Forward .list-li .Can-icon .del-ed{ display: inline-block;width: 16px;height: 16px;background: url("../assets/icon01.png") no-repeat; cursor: pointer;margin-right: 5px;}
.send-file .upload-file .Forward .list-li .Can-icon .on-off{background-position: -16px 0;}
.send-file .upload-file .Forward .list-li .Can-icon .on-off:hover{background-position: 0 0;}
.send-file .upload-file .Forward .list-li .Can-icon .on-off.opt{background-position: 0 0;}
.send-file .upload-file .Forward .list-li .Can-icon .del-ed{background-position: -32px 0;}
.send-file .upload-file .Forward .list-li .Can-icon .on-off.over{background-position: -48px 0;}
.send-file .upload-file .Forward .upfile-btn{ width: 130px;height: 30px;background: url("../assets/icon2.png") no-repeat 0 0; text-indent: -9999px; margin: 10px 0;position: relative;}
.send-file .upload-file .Forward .upfile-btn:hover{ width: 130px;height: 30px;background-position: 0 -30px;}
.send-file .upload-file .Forward .upfile-btn .common_file{outline: medium none;position: absolute;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;left:0;top: 0;cursor: pointer; z-index: 5; width: 130px;height: 30px;}


.send-file .bd .vdo-msg .common_td .common_text{ width: 400px;}
.send-file .bd .vdo-msg .vod-titie .common_td .wor{background: #fff; display: inline-block;width: 40px;height: 28px;text-align: center;line-height: 28px; color: #87c0f3; position: absolute;top: 2px;right: 1px;}
.send-file .bd .vdo-msg .intro .common_td .wor{ background: #fff; position: absolute; bottom: 10px; right: 2px;display: inline-block;width: 40px;height: 28px;text-align: center;line-height: 28px; color: #87c0f3;}
.diy-input{padding-top: 5px;cursor: pointer;}
.diy-input input{width: 20px;height: 20px;}
.diy-input label{display: inline-block; width: 40px;height: 20px;line-height:20px;font-size: 12px; vertical-align: top;text-align: center;}
.diy-input input::before {content: '';background: url('../assets/diy-input.png') no-repeat 0 0 ;position: absolute;width: 20px;height: 20px;}
.diy-input input:checked::before { background: url('../assets/diy-input.png') no-repeat -20px 0 ;}

.send-file .bd .vdo-msg .common_tr .remind{ display: inline-block;color: red;text-align: left;padding-left: 25px; line-height: 32px;
     position: relative;margin-left: 5px;font-size: 12px;}
.send-file .bd .vdo-msg .common_tr .remind i{display: inline-block;width: 20px;height: 20px;background: url("../assets/warn.png") no-repeat;background-size: contain;    position: absolute; left: 0;top: 5px;}
.send-file .bd .vdo-msg .common_td .common_textarea{width: 490px;height: 130px;padding: 5px 10px; overflow: hidden;}
.info-con .bd .common_th p{color: #999;padding-right: 5px;}
.send-file .bd .vdo-msg .common_td{ position: relative;}

/* 登录页面 */
.grid-1010 .match1010{background:url('../assets/login990.jpg') no-repeat center top;}
.grid-1410 .match1410{background:url('../assets/login1390.jpg') no-repeat center top;}
.grid-1410 .module-login{width:1390px;height:670px;margin:0 auto;}
.grid-1010 .module-login{width:990px;height:670px;margin:0 auto;}
.module-login .peroinfo{float:left;width:196px;margin:295px 0 0 135px;line-height:20px;}
.grid-1010 .module-login .peroinfo{margin:320px 0 0 30px}
.module-login .peroinfo span,
.module-login .peroinfo p{color:#ec7682;}

.module-login .login{float:right;width:560px;margin:128px 135px 0 0;}
.grid-1010 .module-login .login{margin:128px 0 0 0;}
.module-login .loginbox{width:290px;padding:0 30px;}
.module-login .loginbox h2{height:20px;line-height:20px;margin:18px 0 0;padding:0 0 0 80px;font-size:18px;background:url('../assets/logo2.png') no-repeat 128px top;}
.module-login .loginform li{position:relative;margin:20px 0 0;}
.module-login .loginform .txt{width:288px;height:34px;line-height:34px;border:1px solid #b2b1b1;} 
.module-login .loginform .txt.focus{border:1px solid #84c0f6;}
.module-login .loginform .txt input{width:240px;height:18px;line-height:18px;margin:0 0 0 5px;padding:0 5px;color:#999;background:none;border:0 none;}
.module-login .loginform .txt2{float:left;width:170px;}
.module-login .loginform .txt2 input{width:120px;}
.module-login .loginform .getnum{float:right;width:108px;height:36px;line-height:36px;text-align:center;color:#fff;background:#84c0f6;}
.module-login .loginform .getnum.disabled{color:#999;background:#d2d2d2;}
.module-login .loginform .txt em{display:inline-block;margin:12px 0 0 15px;vertical-align:-3px;*margin:0 0 0 15px;*vertical-align:4px;}
.module-login .loginform .txt .ic1{width:9px;height:14px;background:url("../assets/login-icon.png") no-repeat 0 0;}
.module-login .loginform .txt .ic2{width:9px;height:14px;background:url("../assets/login-icon.png") no-repeat -21px 0;}
.module-login .loginform .txt .ic3{width:12px;height:6px;vertical-align:1px;*vertical-align:5px;background:url("../assets/login-icon.png") no-repeat -9px 0;}
.module-login .loginform li.locked{border:1px solid #e8586c;}

.module-login .loginform li.locked .mask{position:absolute;top:0;left:0;width:288px;height:34px;background:#e8586c;opacity:0.5;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);}

.module-login .loginform li .error{position:absolute;left:13px;bottom:-20px;height:20px;line-height:20px;color:#e8586c;}
.module-login .loginform li .error em{display:inline-block;width:14px;height:14px;margin:0 5px 0 0;vertical-align:-3px;background:url("../assets/login-icon.png") no-repeat -30px 0;*vertical-align:1px;}

/* .module-login .loginform li .view,
.module-login .loginform li .noview{position:absolute;top:12px;background:url("../assets/login-icon.png") no-repeat;}
.module-login .loginform li .view{width:15px;height:9px;background-position:0 -14px;right:12px;}
.module-login .loginform li .noview{width:18px;height:12px;background-position:0 -23px;right:10px;} */

.module-login .loginform .autologin label{float:left;}
.module-login .loginform .autologin input{margin:0 5px 0 0;vertical-align:middle;}
.module-login .loginform .autologin a{float:right;}
.module-login .loginform .agreement a{float:none;padding:0 10px 0 0;color:#84c0f6;text-decoration:underline;background:url("../assets/05.png") no-repeat right center;}
.module-login .loginform .btn_login{display:block;width:290px;height:44px;line-height:44px;margin:30px 0 0;text-align:center;font-size:14px;color:#fff;background:#84c0f6;}
.module-login .loginform .btn_login.disabled{background:#d2d2d2;}

.module-login .loginform dl{margin:10px 0 0;}
.module-login .loginform dt{position:relative;height:12px;border-bottom:1px solid #b2b1b1;}
.module-login .loginform dt p{position:absolute;left:76px;top:2px;width:138px;height:14px;text-align:center;font-size:14px;color:#b2b1b1;background:#fff;}
.module-login .loginform dd{margin:20px 0 0;text-align:center;}
.module-login .loginform dd a{display:inline-block;width:40px;height:40px;margin:0 10px;background:url("../assets/login-icon2.png") no-repeat;}
.module-login .loginform dd .ic1{background-position:0 0;}
.module-login .loginform dd .ic2{background-position:-60px 0;}
.module-login .loginform dd .ic3{background-position:-118px 0;}
.module-login .loginform dd .ic4{background-position:-179px 0;}

.module-login .loginform .noaccount{margin:10px 0 0;text-align:center;}
.grid-1010 .module-login .loginform .noaccount{margin:5px 0 0;}
.module-login .loginform .noaccount a{color:#84c0f6;}

.module-login .loginform-line3 .btn_login,
.module-login .loginform-line3 dl{margin:5px 0 0;}
.module-login .loginform-line3 dd{margin:15px 0 0;}
.module-login .loginform-line3 .noaccount,
.module-login .loginform-line4 .noaccount{margin:5px 0 0;}
.module-login .loginform-line4 .btn_login{margin:20px 0 0;}
.module-login .resetkey .loginform .noaccount{margin:40px 0 0;}



.module-login .app{width:210px;margin:40px 0 0;}
.module-login .app img{display:block;margin:0 auto;}
.module-login .app h2{margin:15px 0 10px;text-align:center;font-size:14px;font-weight:bold;color:#000;}
.module-login .app a{display:block;width:126px;height:34px;margin:10px auto 0;padding:0 0 0 10px;line-height:34px;color:#84c0f6;border:1px solid #84c0f6;border-radius:34px;}
.module-login .app a.cur,
.module-login .app a:hover{color:#68a5db;background:#c1dffa;}
.module-login .app .ic1{display:inline-block;width:18px;height:21px;margin:0 1px 0 0;vertical-align:-6px;background:url("../assets/login-icon.png") no-repeat -18px -14px;*vertical-align:-3px;}
.module-login .app .ic2{display:inline-block;width:19px;height:21px;margin:0 5px 0 0;vertical-align:-6px;background:url("../assets/login-icon.png") no-repeat -37px -14px;*vertical-align:-3px;}


/* 第三方登录 */
.module-login .loginbox-3rd h2,
.module-login .resetkey h2{height:20px;line-height:20px;margin:18px 0 0;background:url('../assets/logo2.png') no-repeat center top;}
.module-login .loginbox-3rd .nobinding{width:290px;margin:10px auto 0;padding:105px 0 0;text-align:center;color:#84c0f6;background:url('../assets/img2.png') no-repeat center top;}
.module-login .loginbox-3rd .binding{background:url('../assets/img3.png') no-repeat center top;}
.module-login .loginbox-3rd .btn_login{margin:50px 0 0;}

/* 找回重置密码 */
.module-login .step{position:relative;height:80px;overflow:hidden;}
.module-login .step:after{position:absolute;left:102px;top:32px;width:88px;height:10px;content:'';border-bottom:1px solid #b2b1b1;}
.module-login .step ul{margin:20px 0 0;padding:0 35px;}
.module-login .step li{float:left;width:50px;margin:0 30px;text-align:center;color:#b2b1b1;}
.module-login .step li.cur{color:#84c0f6;}
.module-login .step li em{display:block;width:24px;height:24px;line-height:24px;margin:10px auto 0;color:#fff;background:url('../assets/login-icon3.png') 0 0 no-repeat;}
.module-login .step li.cur em{background:url('../assets/login-icon3.png') -24px 0 no-repeat;}
.module-login .tip{text-align:center;color:#84c0f6;}


.send-file .bd .vdo-msg .common_tr .remind{ position: absolute;top:0;right: -230px;display: inline-block;padding-left: 25px; line-height: 32px;width: 200px;color: red;}
.send-file .bd .vdo-msg .common_tr .remind i{display: inline-block;width: 20px;height: 20px;background: url("../assets/warn.png") no-repeat;background-size: contain;    position: absolute; left: 0;top: 6px;}


/*选择分区*/

.mitem-category, .mitem-property, .mitem-age, .mitem-storey, .mitem-decoration, .mitem-orientations, .mitem-source { margin-right: 5px; }
.moreitem-box,
.ytd-box{color: #707070;float: left;display: inline;line-height: 20px;position: relative;padding: 0;}
.moreitem-btn {min-width: 30px;height: 30px; background: #fff;border: 1px solid #ccc;display: inline-block;float: left;padding: 0 20px 0 10px;position: relative; cursor: pointer;text-align: left;line-height: 30px;font-size: 14px; margin-right: 20px;zoom: 1;}
.moreitem-btn input{width: 80px;height: 28px;line-height: 28px;border: none;outline: 0;background: #fff;}

.moreitem-btn .taxon{display: inline-block;width: auto;height: 24px;line-height: 24px; padding:0 5px;color: #333; margin-right: 5px; position: relative;}
.vod-titie .common_td{position: relative;}
/*.vod-titie .common_td .wor{position: absolute; top: 3px;right: 100px;}*/

/*.moreitem-opts {background: #fff;border: 1px solid #ccc;display: none;position: absolute;left: 0;top: 22px;padding: 0 0 5px;width: 103px;}*/
.moreitem-opts li a {color: #707070;display: block;float: none;height: 22px;line-height: 22px;padding: 0 10px;margin-right: 0;overflow: hidden;white-space: nowrap;}
.moreitem-opts {background: #fff;border: 1px solid #87c1f4;display: none;position: absolute;left: -1px;top: 30px;padding: 0 0 5px;width: 100%;z-index: 1;  box-shadow: 0 2px 2px 1px #87c1f4;}

.moreitem-btn:hover .moreitem-opts{display: block;}
.moreitem-opts li a {color: #000;display: block;float: none;height: 22px;line-height: 22px;padding: 0 10px;margin-right: 0;overflow: hidden;white-space: nowrap;}
.moreitem-opts li:first-child a{background: #e6e6e6;color: #333;}
.moreitem-opts li:first-child a:hover{background: #e6e6e6;color: #333;}
.moreitem-opts li a:hover{background: #479de9;color: #fff;}
.moreitem-opts li a:active{background: #87c1f4;color: #fff;}
.active .moreitem-btn { border-bottom: 0;}
.active .moreitem-opts { display: block;}

/*子分区*/
.sadas{ overflow: hidden;padding-top: 24px;}
.sadas .close{ position: absolute; top: 0;right: 0;display: inline-block;width: 24px;height: 24px; text-align: center;line-height: 24px;font-size: 14px;color: #fff;background: #87c1f4;font-style: normal;}
.sadas .close:hover{background:#479de9; }
.sadas li{display:inline-block;height: 20px;line-height: 24px; float: left;text-align: center;margin: 5px 0;width: 50%;}
.sadas li a{display:inline-block;width: 45px;text-align: center; margin: 0 auto;padding: 0;}


/*上传封面*/

.info-con .bd .upload-cover .common_td .select-filein{width: 150px;height: 85px;background: url("../assets/05.png") no-repeat;background-size: cover;
    -moz-background-size:cover;-webkit-background-size: cover;-o-background-size: cover;z-index:0;margin: 10px 0;}
.info-con .bd .upload-cover .common_td  p{height: 30px;line-height: 30px;color: #939393;}
.info-con .bd .upload-cover .common_td .select-filein span{height: 30px;line-height: 30px;color: #969696;}
.info-con .bd .upload-cover .common_td .select-filein:hover{width: 150px;height: 85px;background: url("../assets/05.png") no-repeat;-moz-background-size:cover;-webkit-background-size: cover;-o-background-size: cover;}
.info-con .bd .upload-cover .common_td .select-filein .common_file{width: 150px;height: 85px;}
/*标签*/
.tag .moreitem-btn .taxon{display: inline-block;width: 32px;height: 20px;line-height: 20px;background: #87c1f4;color: #fff;text-align: center;font-size: 12px;position: relative;padding: 0 18px 0 0;  }
.tag .moreitem-btn .taxon .del{background: #87c1f4; color: #fff;font-style: normal; text-align: center;display: inline-block;width: 18px;position: absolute;top: 0;right: 0;}
.tag .moreitem-btn .taxon:hover .del{background:#479de9; }
.tag .moreitem-btn{overflow: hidden;padding:  0 0 0 10px;margin: 0;}
.tag .common_td{    width: 415px; height: 33px; overflow: hidden;}
.tag .moreitem-btn input{position: absolute;top: 1px;left: 1px;opacity: 0;filter:alpha(opacity=0);z-index: -1;width: 400px; height: 28px;}
/*视频列表页*/
.info-r .vod-list{}
.info-r .vod-list .hd{    height: 48px;  z-index: 99;}
.info-r .vod-list .hd .seach{ width: 283px;   height: 28px; border: 1px solid #b2b1b1;margin-top: 10px; position: relative;float: left;}
.info-r .vod-list .hd .seach:hover{border: 1px solid #83bff4;}
.info-r .vod-list .hd .seach input{ width: 185px;   height: 22px;line-height: 24px; padding:2px 10px 2px 30px; }
.info-r .vod-list .hd .seach .seach-icon{ width: 16px;height: 16px; position: absolute;top: 50%;left: 5px;margin-top: -8px;background: url("../assets/seach.png") no-repeat;}
.info-r .vod-list .hd .seach .seach-btn{display: inline-block;position: absolute;top: -1px;right: -1px;width: 60px;height: 30px;background: #83bff4;text-align: center;line-height: 30px;color: #fff;font-size: 14px;}
.info-r .vod-list .hd .seach:hover .seach-btn{background: #479de9;}
.moreitem-btn .icon-s{display: inline-block;width: 9px;height: 8px;background: url("../assets/icon-s.png") no-repeat 0 0 ;position: absolute;
    top: 50%;  right: 10px; margin-top: -4px;}
.moreitem-btn:hover{border: 1px solid #87c1f4;}
.moreitem-btn:hover  .icon-s{background-position: 0 -8px;}
.info-r .vod-list .hd .sort{width: 56px;padding-right: 14px; height: 30px;line-height: 30px;position:relative;color: #a0a0a0; margin-top: 10px; cursor: pointer;z-index: 99;}
.info-r .vod-list .hd .sort a{display: block;width: 100%;height: 100%;}
.info-r .vod-list .hd .sort:hover{color: #84c0f6; }

.info-r .vod-list .hd .sort .jiantou{ display: inline-block;width: 14px;height: 8px;position: absolute;top: 50%;right: 0;margin-top: -4px;background: url("../assets/2.png") no-repeat 0 0;}

.info-r .vod-list .hd .sort:hover .jiantou{background-position: 0 -8px; }
.info-r .vod-list .hd .sort .sort-list{width: 120px;height:144px;box-shadow:0 0 2px 2px #83bff4;overflow: hidden;position: absolute;
    background: #fff;top:28px; right: 0; display: none; padding: 5px 0; z-index: 99;    border:1px solid #83bff4;}
.info-r .vod-list .hd .sort .sort-list li{width: 100%; height: 24px;line-height: 24px;text-align: center;color: #414141; float: left;border-bottom: 1px dashed #ededed;}
.info-r .vod-list .hd .sort .sort-list li a{display: block; width: 100%; height: 100%; color: #666;}
.info-r .vod-list .hd .sort .sort-list li a:hover{display: block; width: 100%; height: 100%; background: #83bff4;color: #fff;}
.info-r .vod-list .hd .sort:hover .sort-list{display: block;}
.info-r .vod-list .bd{border-top: 1px solid #d2d2d2;}
.info-r .vod-list .bd .list-con{ padding-bottom: 50px;}
.info-r .vod-list .bd .list-con ul{}
.info-r .vod-list .bd .list-con ul li{overflow: hidden; padding: 10px 0;height: 83px;}
.info-r .vod-list .bd .list-con ul li a{ display: block;width: 100%;height: 100%;}
.info-r .vod-list .bd .list-con ul li .list-left{ float: left;width: 146px;height: 82px;}
.info-r .vod-list .bd .list-con ul li .list-left img{ display:block;width: 146px;height: 82px;}
.info-r .vod-list .bd .list-con ul li .list-right{border-bottom:1px solid #d2d2d2; width:650px;height: 82px;float: right; padding-bottom: 10px;overflow: hidden;}
.info-r .vod-list .bd .list-con ul li .list-right .list-info{ width: 650px;height: 82px;overflow: hidden;float: left; position: relative}
.info-r .vod-list .bd .list-con ul li .list-right .list-info ul{overflow: hidden;}
.info-r .vod-list .bd .list-con ul li .list-right .list-info ul li{ height: 26px;line-height:26px;padding: 0; color: #969696;}
.info-r .vod-list .bd .list-con ul li .list-right .list-info ul li h3{ font-size: 14px;color: #333;}
.info-r .vod-list .bd .list-con ul li .list-right .list-info ul .state{ display: inline-block;height:16px;line-height:16px;padding: 2px 8px;
border-radius: 12px;background: #ededed;margin: 0 5px 0 0; color: #fff;}
.info-r .vod-list .bd .list-con ul li .list-right .list-info ul .hint { color: #ec7582;}
.info-r .vod-list .bd .list-con ul li .list-right .released ul .state{ background: #83bff4;}
.info-r .vod-list .bd .list-con ul li .list-right .review ul .state{background: #ec7581;}
.info-r .vod-list .bd .list-con ul li .list-right .refund ul .state,
.info-r .vod-list .bd .list-con ul li .list-right .failure ul .state,
.info-r .vod-list .bd .list-con ul li .list-right .offline ul .state{background: #c4c4c4;}
.info-r .vod-list .bd .list-con ul li .list-right .compress ul .state{background: #7dce65;}

.info-r .vod-list .bd .list-con ul li .list-right .released ul .vod-list-int{ min-width: 25px;height: 24px; line-height: 24px; padding-left: 20px; text-align: left;
color: #999999;float: left;position: relative; margin-top: 5px;}
.info-r .vod-list .bd .list-con ul li .list-right .released ul .vod-list-int i{ width: 14px;height: 14px; position: absolute;top: 50%;left: 3px;background: url("../assets/i1.png") no-repeat;margin-top: -7px;margin-right: 5px;}
.info-r .vod-list .bd .list-con ul li .list-right .released ul .i2 i{background: url("../assets/i2.png") no-repeat;}
.info-r .vod-list .bd .list-con ul li .list-right .released ul .i3 i{background: url("../assets/i4.png") no-repeat;}

.info-r .vod-list .bd .list-con ul li .list-right .list-info .list-icon{ height:16px;overflow: hidden;float: right;
    position: absolute;top: 50%;right: 0;margin-top: -8px; z-index: 0;}
.info-r .vod-list .bd .list-con ul li .list-right .list-info .list-icon span{display: inline-block;width: 16px;margin-right: 3px;
    height:16px;background: url("../assets/07.png") no-repeat 0 0;}
/*修改*/
.info-r .vod-list .bd .list-con ul li .list-right .list-info .list-icon span.redact{background-position: 0 0;}

/*预览*/
.info-r .vod-list .bd .list-con ul li .list-right .list-info .list-icon span.preview{background-position: -64px 0;}
.info-r .vod-list .bd .list-con ul li .list-right .list-info .list-icon span.preview:hover{background-position: -64px 0;}
/*申诉*/
.info-r .vod-list .bd .list-con ul li .list-right .list-info .list-icon span.appeal{background-position: -80px 0;}
.info-r .vod-list .bd .list-con ul li .list-right .list-info .list-icon span.appeal:hover{background-position: -80px 0;}
/*删除*/
.info-r .vod-list .bd .list-con ul li .list-right .list-info .list-icon span.del{background-position: -32px 0;}
/*.info-r .vod-list .bd .list-con ul li .list-right .list-info .list-icon span.del{background-position: -48px 0;}*/
/*审核中 右侧按钮置灰*/
.info-r .vod-list .bd .list-con ul li .list-right .review .list-icon span.del{background-position: -48px 0;}
.info-r .vod-list .bd .list-con ul li .list-right .review  .list-icon span.redact{background-position: -16px 0;}


/*分页*/
.pagelistbox {overflow: hidden;line-height: 40px;text-align: center;margin: 30px 0 15px 155px;display: block;}

 .pagelistbox a, .pagelistbox strong{min-width: 15px;margin: 0 10px 0 0;float: left;font-size: 12px;display: block;}
.pagelistbox .p {color: #222;cursor: pointer;text-align: center;border-radius: 2px;background-color: #fff;border: solid 1px #ddd;width: 28px;height: 28px;line-height: 28px;}
.pagelistbox .p.nextPage, .pagelistbox .p.prevPage { width: 62px;}
.pagelistbox .p.active { background: #fff; color: #83bff4; border: 1px solid #83bff4;}
.pagelistbox .p:hover { background: #fff; color: #83bff4; border: 1px solid #83bff4;}


/*上传页弹窗*/
.pop-down{width: 100%;height: 100%;position: fixed;top: 0;left:0;background-color: rgba(0,0,0,.8);opacity: 0.8;filter:alpha(opacity=80); -moz-opacity:0.5;-khtml-opacity:0.5; zoom:1;z-index: 1000;display: none;}
.pop-up{width: 300px;height: 184px;position: fixed;left: 50%;top: 50%;margin-top: -150px;margin-left: -92px;background:#fff;border-radius: 10px;z-index: 10001;text-align: center;border: 2px solid #dedede; display: none;    box-shadow: 0 0 20px 0 #666;}
.pop-close{width: 20px;height: 20px;background: url("../assets/pop-close.png") no-repeat 0 0;position: absolute;right: 10px;top: 10px;cursor: pointer;}
.pop-close:hover{ background-position: 0 -20px; }
.pop-up span{display: inline-block;height: 24px;line-height: 24px;font-size: 20px;color: #83bff4; width: 250px;margin: 60px auto 0px;}
.pop-up .pop-btn{display: inline-block;height: 30px;line-height: 30px;font-size: 16px;color: #fafafa; width: 180px;margin: 30px auto 0px;
border-radius: 5px;background: #ec7582; cursor: pointer;}
.pop-up .pop-btn:hover{display: inline-block;height: 30px;line-height: 30px;font-size: 16px;color: #fafafa; width: 180px;margin: 30px auto 0px;
    border-radius: 5px;background: #f45a6b;cursor: pointer; }

/*个人中心首页// 修改密码*/
.Personal_data .bd .portrait .common_td{position: relative;}
.Personal_data .bd .portrait .common_td .portrait-in{width: 110px;height: 110px;float: left;position: relative;cursor: pointer;}
.Personal_data .bd .portrait .common_td .portrait-in .portrait-file{ opacity: 0;filter:alpha(opacity=0);position: absolute;top: 0;left: 0;display: inline-block;width: 110px;height: 110px;cursor: pointer;}
.Personal_data .bd .portrait .common_td .portrait-in .ico{display: inline-block;width: 30px;height: 30px;position: absolute;top: 75px;right: 5px;background: url("../assets/icon3.png") no-repeat;}
.Personal_data .bd .portrait .common_td .portrait-tit{ min-width: 200px;height: 85px; text-align: left;margin-left: 20px;float: left;padding-top: 25px;}
.Personal_data .bd  .common_td .wor{margin-left: 10px; color:#e9566c;font-style: normal;font-size: 12px;}
.Personal_data .bd .portrait .common_td .wor{position: absolute;bottom: 5px;left: 130px; color:#e9566c;font-style: normal;font-size: 12px;}

.Personal_data .bd .common_td{position: relative}
.Personal_data .bd .common_td .common_text{width: 400px; }
.Personal_data .bd .common_td .common_text.act{width: 400px;border: 1px solid #83bff4; }
.Personal_data .bd .common_td em{position: absolute;top: 3px;left: 390px;color: #83bff4;}
.Personal_data .bd .common_td .remind{width: 200px;position: absolute;right: -235px;top: 0;color: red;text-align: left;padding-left: 25px;display:block;}

.Personal_data .bd .common_td .remind i{display: inline-block;width: 20px;height: 20px;background: url("../assets/warn.png") no-repeat;background-size: contain; position: absolute; left: 0;top: 3px;}
/*简介*/
.Personal_data .bd .profile .common_td .common_textarea{padding: 10px;height: 50px;font-size: 14px;width: 400px;}
.Personal_data .bd .profile .common_td .common_textarea.act{border: 1px solid #83bff4;}
.Personal_data .bd .profile .common_td em{top: 43px;left: 385px;}

/*修改密码*/
.Personal_data .bd .reset_password{position: relative;}
.Personal_data .bd .reset_password .common_text{width: 280px;}
.Personal_data .bd .reset_password .common_td .common_btn{background: #999;}
.Personal_data .bd .reset_password .save .common_td .common_btn{background: #83bff4;}
.Personal_data .bd .reset_password .common_td .remind i{ background: url("../assets/delete.png") no-repeat;}
.Personal_data .bd .reset_password .new_password .common_td .remind{padding: 0;right: -130px;width: 120px; overflow: hidden;}
.Personal_data .bd .reset_password .new_password .common_td .remind b{float: left;display: inline-block;width: 30px;height: 30px;line-height: 30px;text-align: center;font-size: 12px;color: #fff;background: #999;margin-right: 10px;border-radius: 30px;}
.Personal_data .bd .reset_password .new_password .common_td .remind b.weak{background: #e9566c;}
.Personal_data .bd .reset_password .new_password .common_td .remind b.general{background: #f5b647;}
.Personal_data .bd .reset_password .new_password .common_td .remind b.powerful{background: #6ece6b;}
.Personal_data .bd .reset_password  .success{width: 220px;height: 120px;background: url(../assets/08.png) no-repeat;position: absolute;top: 50%;margin-top: -95px;left: 130px;}