<div class="grid js-gold-10" id="gold-10">
</div>
<script type="text/template" id="template">


<%
    if (stage === 0) {
%>
    <div class="module module-vtlist module-gold10 ipad">
        <div class="vtlist-bg">
            <div class="vtlist-cont swiper-container">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <span class="bdr" username="<%= idolInfo.username %>">
                            <img src="<%= idolInfo.avatar %>"/>
                        </span>
                        <p class="name"><%= idolInfo.group_name || idolInfo.real_name %></p>
                        <p class="vote vote-bg vote-zero">于本环节登场</p>
                    </li>
                <%
                    for (var i = 0; i < playerInfo.length; i++) {
                %>
                    <li class="swiper-slide">
                        <span class="bdr" username="<%= playerInfo[i].username %>">
                            <img src="<%= playerInfo[i].avatar %>"/>
                        </span>
                        <p class="name"><%= playerInfo[i].group_name || playerInfo[i].real_name %></p>
                        <button class="vlist-btn" sid="<%= playerInfo[i].voteid %>"><span class="txt">投票</span></button>
                        <p class="vote"><%= playerInfo[i].votenum %></p>
                    </li>
                <%
                    }
                %>
                </ul>
            </div>
        </div>
    </div>
<%
    }
%>
<%
    if (stage === 1) {
%>
    <div class="module module-vtlist module-gold10 ipad">
        <div class="vtlist-bg">
            <div class="vtlist-cont swiper-container">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <span class="bdr" username="<%= idolInfo.username %>">
                            <img src="<%= idolInfo.avatar %>"/>
                        </span>
                        <p class="name"><%= idolInfo.group_name || idolInfo.real_name %></p>
                        <p class="vote vote-bg">于本环节登场</p>
                    </li>
                <%
                    for (var i = 0; i < playerInfo.length; i++) {
                %>
                    <li class="swiper-slide">
                        <span class="bdr" username="<%= playerInfo[i].username %>">
                            <img src="<%= playerInfo[i].avatar %>"/>
                        </span>
                        <p class="name"><%= playerInfo[i].group_name || playerInfo[i].real_name %></p>
                        <p class="vote vote-bg"><%= playerInfo[i].votenum %></p>
                    </li>
                <%
                    }
                %>
                </ul>
            </div>
        </div>
    </div>
<%
    }
%>
<%  if (stage === 2) {
%>

    
    <div class="module module-vtlist module-gold10 ipad" applink="<%= playerInfo[0].app_link%>" link="<%= playerInfo[0].link %>">
        <div class="vtlist-bg">
            <div class="module-tbtitle">
                <div class="tbtitle_a">LIVE</div>
                <div class="tbtitle_b">正在直播</div>
            </div>
            <div class="vtlist-cont swiper-container">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <span class="bdr" username="<%= idolInfo.username %>">
                            <img src="<%= idolInfo.avatar %>"/>
                        </span>
                        <p class="name"><%= idolInfo.group_name || idolInfo.real_name %></p>
                        <p class="vote vote-bg">现在登场</p>
                    </li>
                <%
                    for (var i = 0; i < playerInfo.length; i++) {
                %>
                    <li class="swiper-slide">
                        <span class="bdr" username="<%= playerInfo[i].username %>">
                            <img src="<%= playerInfo[i].avatar %>"/>
                        </span>
                        <p class="name"><%= playerInfo[i].group_name || playerInfo[i].real_name %></p>
                        <p class="vote vote-bg"><%= playerInfo[i].votenum %></p>
                        <%
                            if (i < 3) {
                                topClass = ' top';
                            } else {
                                topClass = '';
                            }
                        %>
                        <span class="tag<%= topClass %>"><%= i + 1 %></span>
                    </li>
                <%
                    }
                %>
                </ul>
            </div>
        </div>
    </div>
<%
    }
%>
<%
    if (stage === 3) {
%>
    <div class="module module-only3 ipad">
            <div class="content renqi-item">
            <%
                if (idolInfo.promotion) {
            %>
                <div class="renqi-item">
                    <div class="cont_w">
                        <div class="picw" username="<%= idolInfo.username %>">
                            <img src="<%= idolInfo.avatar %>">

                            <div class="imgw"></div>
                        </div>
                        <div class="name"><%= idolInfo.group_name || idolInfo.real_name %></div>
                        <button class="btn" sid="<%= idolInfo.voteid %>"><span class="txt">投票</span></button>
                        <p class="vote"><%= idolInfo.votenum %></p>
                    </div>
                </div>
            <%
                }
                for (var i = 0; i < playerInfo.length; i++) {
            %>
                <div class="renqi-item">
                    <div class="cont_w">
                        <div class="picw" username="<%= playerInfo[i].username %>">
                            <img src="<%= playerInfo[i].avatar %>">

                            <div class="imgw"></div>
                        </div>
                        <div class="name"><%= playerInfo[i].group_name || playerInfo[i].real_name %></div>
                        <button class="btn" sid="<%= playerInfo[i].voteid %>"><span class="txt">投票</span></button>
                        <p class="vote"><%= playerInfo[i].votenum %></p>
                    </div>
                </div>
            <%
                }
            %>
            </div>
        </div>
<%
    }
%>
</script>