body,html{
	min-width: 320px;
	max-width: 750px;
	height: 100%;
	background: #fff;
}
 header{
	height: 3rem;
	
} 
/* 状态栏开始 */
.statusBar{
	background: #000;
	height: 1rem;
}
/* 头部开始 */
.top{
	background: #fe6600;
	position: relative;
}
.top span{
	display: block;
	width: 0.85rem;
	height: 0.8rem;
	background: url(../images/return.png) no-repeat;
	-webkit-background-size: 0.85rem 0.8rem;
	background-size: 0.85rem 0.8rem;
	position: absolute;
	top: 50%;
	margin-top: -0.4rem;
	left: 0.75rem;
}
.top p{
	line-height: 2rem;
	color: #fff;
	font-size: 0.9rem;
	text-align: center;
}
/* 订单部分开始 */
.notice{
	height: 1.875rem;
	line-height: 1.875rem;
	font-size: 0.8rem;
	border-bottom: 1px solid #dddddd;
	text-align: center;
}
.notice li{
	float: left;
	margin:0 0.625rem;
	
}
.notice li:hover{
	border-bottom: 3px solid #fe6600; 
	color: #fe6600; 
}
.waitGoods{
	height: 1.875rem;
	margin-top: 0.5rem;
	border-top:1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding-left: 0.75rem;
	font-size: 0.8rem;
	line-height: 1.875rem;
	color: #fe6600;
}

.waitGoods span{
	color: #555;
	margin-left: 1rem;
	padding-left: 0.5rem;
	border-left: 1px solid #ddd;
}




.mainInfo{
	border-bottom: 1px solid #ddd;
}
.Info{
	padding-left: 0.75rem;
	height: 3.75rem;
	padding-top: 0.75rem;
	border-bottom: 1px solid #dddddd;

}
.Info .Img{
	
	float: left;
}
.Info .Img img{
	width: 4.875rem;
}
.Info .wenzi{
	float: left;
	font-size: 0.8rem;
	margin-left: 0.5rem;
	line-height: 1.5rem;
	overflow: hidden;
}
.Info .wenzi h4{
	font-weight: normal;
	float: left;
	/* margin-bottom: 50px; */
}
.Info .wenzi p{
	float: left;
	margin-left: 2rem;
}
.Info .wenzi p span{
	font-size: 0.7rem;
	color: #999999;
}
.cheap{
	height: 1.8rem;
	line-height: 1.8rem;
	padding-left: 10.5rem;
	font-size: 0.65rem;
	color: #999;
	border-bottom: 1px solid #ddd;
}
.twoButton{
	height: 1.8rem;
	line-height: 1.8rem;
	font-size: 0.65rem;
	padding-left: 11rem;

}
.twoButton a{
	display: inline-block;
	line-height: 1.25rem;
	width: 3rem;
	height: 1.25rem;
	background:#fe6600;
	border-radius: 0.125rem;
	text-align: center;
	color: #fff;
	margin-right: 0.75rem;
}
/* 按钮开始 */
.bottom{
	text-align: center;
	font-size: 0.65rem;
	margin-top: 1.2rem;
}