header{
	max-width:720px;
	min-width:320px;
	height:  2.222rem;
	width: 100%;
	padding: .556rem .833rem .389rem;
	margin:0 auto; 
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	z-index: 9999;
	background-color: rgba(255,255,255,.8);
	
}
.center a{
	display: inline-block;
	width: 3.33rem;
	height: 1.22rem;
	border-radius:0 .278rem .278rem 0;
	color: #fe6600;
	border: 1px solid #fe6600;
	background-color: #fff;

}
.center a.current{
	background-color: #fe6600;
	color: #fff;
	border: 1px solid #fe6600;
	border-radius: .278rem 0 0 .278rem;
}
/* nav  开始 */
.swiper-container {
	width: 100%;
	border-bottom: 1px solid #ccc;

}
.swiper-slide {
	text-align: center;
	background: #fff;  
	height: 6rem;      /* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	padding: .278rem auto;
	position: relative;
	margin: .278rem auto 1.389rem;	
}
.swiper-slide img{
	width: 50%;

}
.swiper-slide span{
	position: absolute;
	bottom: -1.11rem;
	left: 50%;
	display: block;
	width: 3.889rem;
	-wenlit-transform:translateX(-50%);
	transform:translateX(-50%);
	font-size: .778rem;
}
/* 影片开始 */

.picScroll {
	margin: .556rem auto;
	text-align: center;
}
.picScroll .bd ul {
	width: 100%;
	float: left;
	padding-top: 10px;
}
.picScroll .bd li {
	width: 33%;
	float: left;
	font-size:0.778rem;
	text-align: center;

}
.picScroll .bd li a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 取消链接高亮 */
	position: relative;

}
.picScroll .bd li img {
	width: 5rem;
	height: 7.889rem;
	background: url(images/loading.gif) #fff center center no-repeat;
}
.picScroll .bd li .jieshao{
	display: block;
	width: 100%;
	height: 1.944rem;
	background-color: rgba(255,255,255,.5);
	position: absolute;
	bottom: 3px;
	left: 0;
	color: #000;
	border: 1px solid #ccc;
	text-align: left;
	padding-left: 5px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	white-space:nowrap;
	 overflow:hidden; 
	 text-overflow:ellipsis;
	 font-size: 12px;
}
.picScroll .bd li .jieshao  span{
	float: left;
	display: block;
	width: 100%;
	overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.picScroll .bd li .jieshao  p{
	float: left;
	color: red;
}
.picScroll .hd {
	height: 1.111rem;
	line-height:  1.111rem;
	border-bottom: 2px solid #80BD6D;
	background: #f6f6f6;
	overflow: hidden;
	text-align: left;
	padding: 0 10px;
}
.picScroll .hd ul {
	float: right;
}
.picScroll .hd li {
	float: left;
	width: 0.444rem;
	height: 0.444rem;
	background: #D0D0D0;
	margin: 0 5px;
	text-indent: -9999px;
	overflow: hidden;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	
}

.picScroll .hd .on {
	background: #80BD6D;
}
.picScroll .prev, .picScroll .next {
	display: block;
	float: right;
	width: 1rem;
	height: 1rem;
	background: url(images/pisScrollIcons.gif) -6px -7px no-repeat;
	overflow: hidden;
	margin: 11px 5px 0 5px;
}
.picScroll .next {
	background-position: -34px -7px;
}
.picScroll .prevStop {
	background-position: -6px -40px;
}
.picScroll .nextStop {
	background-position: -34px -40px;
}

/* main  开始 */

.cinema-info {
    position: relative;
    padding: .4rem;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
.cinema-name {
    font-size: 0;
    color: #22222d;
    margin-bottom: .325rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cinema-name .name {
    font-size: .778rem;
    line-height: 1.0625rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
        display: inline-block;
}
.icon.member-icon {
    background-color: #ffb94d;
    font-size: .6875rem;
    display: inline-block;
}
.icon.snack-icon {
    background-color: #20d1c9;
    font-size: .6875rem;
    display: inline-block;
}
.icon {
    font-size: .5625rem;
    height: 1rem;
    line-height: 1rem;
    border-radius: .125rem;
    padding: 0 .1875rem;
    margin-left: .25rem;
    color: #fff;
    display: inline-block;
    vertical-align: bottom;
}
.cinema-address {
    color: #88888d;
    font-size: .75rem;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.extra {
    position: relative;
    color: #ff4683;
    margin-top: .325rem;
    font-size: 0;
    width: 90%;
}
.extra .price {
    display: inline-block;
    vertical-align: baseline;
}
.icon.operation-info {
    border: 1px solid #ff4683;
    height: .875rem;
    line-height: .875rem;
    color: #ff4683;
    font-size: .75rem;
}
.icon.tuanzuo {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: -.125rem;
    color: #88888d;
    font-size: .75rem;
}