
html, body {
	min-width: 320px;
	max-width: 750px;
	margin:0 auto; 
        position: relative;
        height: 100%;
    }
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        position: relative;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-slide img{
    	height: 100%;
    	width: 100%;
    }
    .swiper-container-v {
        background: #eee;
    }
    .kaishitiyan{
    	display: block;
    	width: 96px;
    	height: 30px;
    	position: absolute;
    	bottom: 27%;
    	left: 50%;
    	margin-left: -48px;
    	border-radius: 15px;
    }