/* 头部开始 */
header{
	min-width: 320px;
	max-width: 750px;
	width: 100%;
	height: 100%;
	padding: 40px 10px 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	background-color: #fff;
}
header .login{
	float: left;
	position: relative;
}
header a{
	font-size: 16px;
	color: #666;
	padding-left: 30px;
	line-height: 30px;
}
header .login span{
	width: 21px;
	height: 43px;
	background: url(../images/icon/left.png) no-repeat;
	position: absolute;
	left:0;
	top:5px;
}
header .registered{
	float: right;
}
/* 头部结束 */

/* textArea开始 */
.textArea{
	padding: 0 10px;
	background-color: #fff;
}
.textArea .tel,.textArea .password{
	margin:20px 0 5px 0;
	position: relative;
}
.textArea input{
	display: inline-block;
	width: 100%;
	height: 36px;
	border: 1px solid #999;
	border-radius: 6px;
	font-size: 12px;
	padding-left: 30px; 
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline-style: none;
}
.textArea .tel span,.textArea .password span{
	width: 11px;
	height: 19px;
	background: url(../images/icon/phong.png) no-repeat;
	position: absolute;
	left:12px;
	top:50%;
	--webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.textArea .password span{
	width: 14px;
	height: 20px;
	background: url(../images/icon/jiesuo.png) no-repeat;
}
/* textArea结束 */

/* 立即登录开始 */
.lgbg{
	padding: 0 10px;
}
.logingo{
	width: 95%;
	height: 36px;
	background-color: #ff3d00;
	border-radius: 6px;
	margin: 35px auto 0;
}
.logingo a{
	width: 100%;
	height: 100%;
	display: block;
	font-size: 14px;
	color:#fff;
	text-align: center;
	line-height: 36px;
}
.lo_bd{
	margin-top: 15px;
}
.lo_bd a{
	padding: 0 10px 0 10px;
}
.disremen{
	float: left;
}
.messege{
	float: right;
}
/* 立即登录结束 */

/* 第三方登录开始 */
.thLogin{
	width: 100%;
	height: 100%;
	margin: 222px auto 0;
}
.title{
	text-align:center;
	border-top:1px solid #ccc;
	padding: 0 10px;
}
.title p{
	display: inline-block;
	background:#F7F7F7;
	position:relative;
	top:-10px;
	padding:0 20px;
	font-size: 14px;
}
.lgicon{
	width: 100%;
	height: 100%;
	padding: 0 10px;
}
.lgicon .qq,.lgicon .weixin{
	width: 33.3%;
	float: left;
}
.lgicon .sina{
	width: 33.3%;
	float: right;
}
.lgicon a{
	display: block;
	text-align: center;

}
.lgicon img{
	width: 50%;
	height: 50%;
	display: block;
	margin: 0 auto;
}
.lgicon  span{
	margin-top: 25px;
	text-align: center;
}
/* 第三方登录结束 */