body,html{
	min-width: 320px;
	max-width: 750px;
	height: 100%;
	background: #fff;
}
 header{
	height: 3rem;
	
} 
/* 状态栏开始 */
.statusBar{
	background: #000;
	height: 1rem;
}
/* 头部开始 */
.top{
	background: #fe6600;
	position: relative;
}
.top span{
	display: block;
	width: 0.85rem;
	height: 0.8rem;
	background: url(../images/return.png) no-repeat;
	-webkit-background-size: 0.85rem 0.8rem;
	background-size: 0.85rem 0.8rem;
	position: absolute;
	top: 50%;
	margin-top: -0.4rem;
	left: 0.75rem;
}
.top p{
	line-height: 2rem;
	color: #fff;
	font-size: 0.9rem;
	text-align: center;
}
/* 订单部分开始 */
.notice{
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: 0.7rem;
	border-bottom: 1px solid #dddddd;
}
.notice p{
	margin-left: 0.75rem;
	padding-left: 1rem;
	position: relative;
}
.notice p:before{
	content: '';
	width: 0.825rem;
	height: 0.575rem;
	background: url(../images/laba.png) no-repeat;
	-webkit-background-size: 0.825rem 0.575rem;
	background-size: 0.825rem 0.575rem;
	position: absolute;
	top: 50%;
	margin-top: -0.2875rem;
	left: 0;
}
.mainInfo{
	border-bottom: 1px solid #ddd;
}
.Info{
	margin-left: 0.75rem;
	height: 3.75rem;
	padding-top: 0.75rem;
	border-bottom: 1px solid #dddddd;

}
.Info .Img{
	
	float: left;
}
.Info .Img img{
	width: 4.875rem;
}
.Info .wenzi{
	float: left;
	font-size: 0.8rem;
	margin-left: 0.5rem;
	line-height: 1.5rem;
}
.Info .wenzi h4{
	font-weight: normal;
	/* margin-bottom: 50px; */
}
.impress{
	margin-left: 0.75rem;
	height: 2.5rem;
}
.impress ul{
	height: 2.5rem;
}
.impress ul li{
	float: left;
	line-height: 2.5rem;
	width: 25%;
	text-align: center;
	font-size: 0.8rem;
}

.impress ul li:nth-child(2) a{
	display: block;
	width: 2.35rem;
	height: 0.825rem;
	margin-top: 0.8rem;
	background: url(../images/pingjia1.png) no-repeat;
	-webkit-background-size: 2.35rem 0.825rem;
	background-size: 2.35rem 0.825rem;
	line-height: 2.5rem;
	text-indent: 250rem;
}
.impress ul li:nth-child(3) a{
	display: block;
	width: 2.35rem;
	height: 0.825rem;
	margin-top: 0.8rem;
	background: url(../images/pingjia2.png) no-repeat;
	-webkit-background-size: 2.35rem 0.825rem;
	background-size: 2.35rem 0.825rem;
}
.impress ul li:nth-child(4) a{
	display: block;
	width: 2.35rem;
	height: 0.825rem;
	margin-top: 0.8rem;
	background: url(../images/pingjia3.png) no-repeat;
	-webkit-background-size: 2.35rem 0.825rem;
	background-size: 2.35rem 0.825rem;
}
textarea{
	height: 1.7rem;
	width: 16.45rem;
	background: #f0f0f0;
	/* margin:10px 30px; */
	color:#999;
	line-height: 0.6rem;
	font-size: 0.7rem;
	padding:0.4rem;
	margin-left: 0.75rem;
	resize: none;
}

/* 后面一半怎么办？？？？ */
.pic{
	margin-left: 0.75rem;
	font-size: 0.7rem;
}
.pic a img{
	width: 1.55rem;
	height: 1.15rem;
	padding:0.75rem;
	margin-top:0.5rem;
	margin-bottom: 0.5rem;
	border:1px solid #dddddd;
}
/* 按钮开始 */
button{
	height: 1.8rem;
	width: 17.25rem;
	/* margin:30px; */
	background: #fe6600;
	color: #fff;
	font-size: 0.8rem;
	font-weight: bold;
	margin:0.75rem 0 0.75rem 0.75rem;
	border-radius: 0.125rem;
 
} 

