html, body {
        position: relative;
		background: #fff;
		min-width: 320px;
		max-width: 750px;
		margin: 0 auto;
    }
img{
	display: block;
}
.top{
	height: 40px;
	width: 100%;
}
header{
	/* width: 100%; */
	height: 2rem;
	background: #fe6600;
	text-align: center;
	line-height: 2rem;
	font-size: 0.9rem;
	color: #fff;
	/* position: relative; */
}

 header .left{
	width: 0.85rem;
	height: 0.8rem;
	position: absolute;
	left:0.75rem;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: url(../images/back.png) 0 0 no-repeat;
	-webkit-background-size: 0.85rem 0.8rem;
	background-size: 0.85rem 0.8rem;
}	
header .right{
	width: 0.9rem;
	height: 0.795rem;
	position: absolute;
	right:0.75rem;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: url(../images/f5.png) 0 0 no-repeat;
	-webkit-background-size: 0.9rem 0.775rem;
	background-size: 0.9rem 0.775rem;
}
/* bannner *//* bannner *//* bannner *//* bannner */
	.swiper-container {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }


.main{}
.main h2{
	height: 2rem;
	font-size: .85rem;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	line-height: 2rem;
	padding-left: .75rem;
}
.main .con{}
.main .con ul{}
.main .con li{
	width: 50%;
	float: left;
	border-bottom: 1px solid #ccc;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.main .con li:nth-child(odd){
	border-right: 1px solid #ccc;
}
.main .con li img{}


















    footer li:nth-child(4) span{background-position: -2.25rem 0rem;}
    footer li:nth-child(4) a{color: #fe6600;}