body,html{
	min-width: 320px;
	max-width: 750px;
	/* height: 100%; */
	background: #fff;
}
 header{
	/* width: 100%; */
	height: 3rem;
	
} 
/* 状态栏开始 */
.statusBar{
	background: #000;
	height: 1rem;
}
/* 头部开始 */
.top{
	background: #fe6600;
	position: relative;
}
.top span{
	/* display: block; */
	width: 0.85rem;
	height: 0.8rem;
	background: url(../images/return.png) no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -0.4rem;
	-webkit-background-size: 0.85rem 0.8rem;
	background-size: 0.85rem 0.8rem;
	left: 0.75rem;
}
.top p{
	line-height: 2rem;
	color: #fff;
	font-size: 0.9rem;
	text-align: center;
}
/* 购物车开始
.shopping{
	width: 100%;
}
.shopping img{
	width: 280px;
	height: 400px;
	margin:300px auto 20px;
	display: block;
} */
/* 头部标题开始 */
.title{
	height: 2.2rem;
	/* width: 100%; */
	border-bottom: 1px solid #dddddd;
	margin-bottom: 10rem;
}
.title li{
	float: left;
	width: 33.333%;
	line-height: 2.2rem;
	text-align: center;
	font-size: 0.85rem;
	border-bottom: 2px solid transparent;
}
.title li:hover{
	color: #fe6600;
	border-bottom: 2px solid #fe6600;
}
/* 按钮开始 */
p{
	text-align: center;
	font-size: 0.85rem;
}
button{
	height: 1.8rem;
	width: 9.5rem;
	/* margin:30px; */
	background: #fe6600;
	color: #fff;
	font-size: 0.8rem;
	font-weight: bold;
	margin:0 auto;
	display: block;
	border-radius: 0.2rem;
	
 
} 



