

/* ------------nav  开始 ------------- */
nav{
	width: 100%;
	height: 8.333rem;
	background-color: #ccc;
	border-top: 1px solid #fff;
}
nav ul{
	width: 100%;
	height: 8.333rem;
	padding: .556rem 0;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
}
nav ul li{
	float: left;
	height: 4.167rem;
	width: 25%;
	text-align: center;
	line-height: 2.056rem;
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
nav ul li a{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	color: #333;
}
nav ul li img{
	width: 2.056rem;
	height: 2.056rem;
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);

}
nav ul li a span{
	display: block;
	width: 5.556rem;
	position: absolute;
	top: 2.22rem;
	left: 50%;
	font-size: .667rem;
	margin-left: -2.778rem;
	line-height: 1.111rem;
}
/* --------------nav  结束  ----------------------- */

/* --------------演出日历  开始  ----------------------- */
.calen{
	width: 100%;
	height: 1.398rem;
	border-bottom: #ccc solid 1px;
	padding: 0 .833rem;
	position: relative;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
	transition: all 1s;
}
.calen img{
	position: absolute;
	top: 0;
	left: .556rem;
	height: 1.389rem;
}
/* .calen span{
	display: inline-block;
	width: 30px;
	height: 15px;
	border: 1px solid #fd4d58;
	border-radius: 5px;
	text-align: center;
	line-height: 15px;
	font-weight: bold;
	color: #fd4d58;
	position: absolute;
	top: 4px;
	left: 85px;
} */
.yanchumulu{
	width: 100%;
	font-size: .667rem;
	padding-left: 3.61rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 1.39rem;
	overflow: hidden;
	animation: feifei 10s steps(4) infinite;
				
}
	@-webkit-keyframes feifei{
		0%{
			left:1.389rem;
			top:0;
		}
		100%{
			left:1.389rem
			top:-100px;
		}
	}
.yanchumulu li{
	height:1.389rem;
	width: 100%;
	line-height: 1.389rem;
	text-align: left;

}
.yanchumulu li a{
	color: #666;
}


/* --------------演出日历  结束  ----------------------- */


/* --------------特别推荐  开始  ----------------------- */
.tebie{
	width: 100%;
	height: 6.111rem;
	background: #ccc;
	overflow: hidden;
	position: relative;
}

.img{
	float: left;
	width: 5.556rem;
	height:6.111rem;
	padding: .667rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.img img{
	width: 100%;
	height: 100%;
	border: 1px solid #fff;
}

.wen{
	width: 65%;
	height: 3.056rem;
	margin-bottom: .833rem;
	float: left;
	padding: .278rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}
.wen h3{
	font-size: 0.778rem;
}
.wen h3 i{
	display: inline-block;
	width: 3.056rem;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	font-size: 0.667rem;
	background: #ff3d00;
	border-radius:.278rem;
	color: #fff;
	font-weight: normal;
	margin-right: .278rem;

}
.wen-j{
	width: 65%;
	float: left;
	padding-left: .278rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;

}
.wen-j span{
	color: #ff4b91;
	font-size: 0.778rem;

}
.wen-j p{
	font-size: 0.667rem;
	color: #666;
}
.wen-j a{
	display: block;
	position: absolute;
	top: 0%;
	right: .556rem;
	background: #ff3d00;
	color: #fff;
	border-radius: .278rem;
	height: 1rem;
	width: 25%;
	font-size: .667rem;
	height: 1.556rem;
	text-align: center;
	line-height: 1.556rem;

}

/* --------------特别推荐  结束  ----------------------- */

/* -------------------热门排行榜    开始 ------------- */

.remen{
	width: 100%;
	overflow: hidden;
}
.remen-t{
	width: 100%;
	height: 1.667rem;
	padding: .278rem .833rem;
	border-top: 1px solid #666;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 2.222rem;
	font-size: .667rem;
	color: #666;
}
.remen-info{
	width: 100%;
	padding: .556rem .556rem .278rem;
}
.remenlist{
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	padding: .167rem .11rem;

}

.imgbox{
	float: left;
	width: 4.722rem;
	height: auto;
	position: relative;
	margin-right: .556rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


.imgbox img{
	width: 4.556rem;
	height: 6.111rem;
	border: 1px solid #fff;
}
.icon-num{
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	height: 0.833rem;
	width: 0.833rem;
	color: #fff;
	text-align: center;
	line-height: 0.778rem;
	background-color: #369;
}
.icon-num1{
	background-color: red;
}
.icon-num2{
	background-color: #fd5521;
}
.icon-num3{
	background-color: #ffb700;
}
.content{
	width: 60%;
	float: left;
	padding-right: .278rem;
}
.content .desc{color: #22222d;
    font-size: 0.778rem;
    line-height: 1.111rem;
    height:2.111rem;
    overflow: hidden;
}
.content .otherdesc{
	width: 100%;
	font-size: 0.667rem;
	line-height: 1.111rem;
	padding-top: .833rem;
}
.content .otherdesc .date {
    color: #88888d;
    padding-left: 1.11rem;
    background: url(../images/shijian.png) 0 center no-repeat;
        background-size: .833rem .833rem;
}
.content .otherdesc .addr {
    color: #88888d;
    padding-left: 1.11rem;
    background: url(../images/zuobiao.png) 0 center no-repeat;
        background-size: .833rem .833rem;
}
.content .otherdesc .price {
    color: #fd3475;
    font-size: 14px;
}
.content .otherdesc .status-0 {
    color: #ff8605;
    border: 1px solid #ff8605;
    display: inline-block;
    height: 0.889rem;
    border-radius: .11rem;
    font-size: 0.5rem;
    padding: 0 .1667rem;
    line-height: 0.889rem;
    float: right;
}

/* -------------------------  热门排行榜  结束 ----------------- */










