.ml20{
	margin-left: 20px;
}
.mt30{
	margin-top: 30px;
}
.mt20{
	margin-top: 20px;
}
.mt25{
	margin-top: 25px;
}
.ml15{
	margin-left: 15px;
}
.mt40{
	margin-top:40px;
}
.module-grid-980{
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}
.wc100{
	width: 100%;
}
.module-person-info{
	.person-info-l{
		width: 60%;
		top: -75px;
		position: relative;
	}
	.person-avatar{
		width: 145px;
		height: 145px;
		padding:5px;
		background:#ffffff;
		img{
			width: 98%;
			height: 98%;
			border:1px solid #ddd;
		}
	}
	.person-main-info{
		margin-left: 31%;
		font-size: 14px;
		h2{
			font-size: 26px;
			color:#fff;
		}
		h3{
			font-size: 14px;
			color:#333;
			font-weight:normal;
		}
		a{
			color:#333;
			text-decoration: underline;
		}
		.main-title{
			color:#7d7d7d;
		}
		.vlm{
			vertical-align: middle;
		}

		.district-tag{
			display: inline-block;
			padding-left:5px;
			padding-right:5px;
			text-align: center;
			color:#d92238;
			border:1px solid #d92238;
			vertical-align: middle;
			height: 20px;
			color: #d92238;
			line-height: 20px;
			margin-right: 5px;
			margin-top: 2px;
			*margin-top:0px;
			_margin-top:0px;

			&:hover{
				color:#fff;
				background:#d92238;
			}
		}
	}
	
	.person-info-r{
		float: right;
		max-width: 34%;
		margin-right: 5%;
		_width:265px;
		_margin-right:0px;
		font-size: 14px;
		overflow: hidden;
		.head-border{
			height: 16px;
			line-height: 16px;
			width: 5px;
			background:#d92137;
			margin-top: 5px;
			float: left;
		}
		h2{
			color:#d92137;
			font-size: 16px;
		}
		em{
			color:#7d7d7d;
		}
		span{
			color:#d92238;
			font-weight:bold;
		}
	}
}